.app-logo {
  background-color: #9FA483;
  color: var(--color-text);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  width: 40px;
  height: 40px;   

  border: 2px solid var(--color-border-logo);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}