.navbar {
  background-color: var(--color-background-header);
  font-weight: 400;
  padding: 1rem;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}