.navbar {
  background-color: var(--color-background-header);
  font-weight: 400;
  padding: 1rem;
  height: 100vh;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}

.navlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-section);
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.navlink.active {
  font-weight: 700;
}