.skill-card {
  display: flex;
  align-items: center;
  margin-bottom: var(--medium-padding);
  font-size: 1.50em;
  font-weight: 600;
  height: 80px;
  border-radius: 16px;
  min-width: 600px;
  width: 100%;
  padding: var(--medium-padding);
  gap: var(--medium-padding);
}

.skill-card:hover {
  cursor: pointer;
  font-weight: 700;
  filter: brightness(0.95);
}

.icon {
  font-size: 1.75em;
  width: 60px;
  align-items: center;
  justify-items: center;
}

.skill-card-title {
  width: 100%;
}
