header {
    color: var(--color-text-header);
    background-color: var(--color-background-header);
    font-family: sans-serif;  
    margin: 0;                
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-text); 
    background-color: var(--color-background-page);       
    font-family: sans-serif;  
    margin: 0;                
    padding: 0;
}
  
h1, h2, h3, h4, h5, h6 {
    color: inherit; 
}

a {
    color: var(--color-link);
    text-decoration: underline; 
    font-weight: normal;   
}
  
a:hover {
    font-weight: bold;     
}
