:root {
  --font-display: "Kurale", sans-serif;
  --font-text: "Lora", serif;

  --font-size-title: 2em;
  --font-size-tab: 1.75em;
  --font-size-section: 1.75em;
  --font-size-skill-title: 1.25em;
  --font-size-description: 16px;
}
