button.sign-out-button {
  background-color: var(--color-background-searchbar);
  border-radius: 8px;
  border-width: 2px;
  color: var(--color-text);
  padding: var(--small-padding);
  border-color: var(--color-text);
}

button.sign-out-button:hover {
  cursor: pointer;
  filter: brightness(0.95);
}
