button.log-action {
  background-color: var(--color-background-searchbar);
  color: var(--color-text);
  border-color: var(--color-text);
  padding: var(--regular-padding);
  border-radius: 20px;
}

button.log-action:hover {
  cursor: pointer;
  filter: brightness(0.95);
} 

.content-right {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--regular-padding)
}