.auth-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  padding-top: 6%;
}

.auth-form {
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: fit-content;
  padding: var(--medium-padding);
  width: 300px;
}

.inner-auth-form {
  display: flex;
  flex-direction: column;
}

.switch-auth-text {
  color: rgba(96, 104, 211, 1);
  text-decoration: underline;
}

.switch-auth-text:hover {
  cursor: pointer;
  font-weight: bold;
}

button.auth-button {
  background-color: var(--color-background-searchbar);
  color: var(--color-text);
  border-radius: 8px;
  border-color: var(--color-text);
  width: fit-content;
  padding-left: var(--small-padding);
  padding-right: var(--small-padding);
}
