html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background-page);
  color: var(--color-text);
}

.content {
  margin-left: var(--navbar-width);
  width: 100%;
  padding: var(--medium-padding);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--font-display);
  font-size: var(--font-size-title);
}

h2 {
  font-family: var(--font-display);
  font-size: var(--font-size-section);
}

h3 {
  font-family: var(--font-display);
}

button {
  color: var(--font-text);
}

/* Skill classes */
.all {
  background-color: var(--color-background-all);
}

.home {
  background-color: var(--color-background-home);
}

.car {
  background-color: var(--color-background-car);
}

.finance {
  background-color: var(--color-background-finance);
}

.culinary {
  background-color: var(--color-background-culinary);
}

.emergency {
  background-color: var(--color-background-emergency);
}

.misc {
  background-color: var(--color-background-misc);
}

.custom {
  background-color: var(--color-background-custom);
}

.flex-display {
  display: flex;
}
