html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background-page);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-section);
}
