* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}